@import './colors';

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body * {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {

  &.icon-button {
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: $grey;
    border: 0;
    background: transparent;
    transition: 0.2s linear all;

    &:hover, &:active {
      color: $black;
    }

    &[disabled] {
      cursor: default;
      color: $grey;
    }
  }

  &.blue {
    height: 37px;
    padding: 0 17px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    color: $white;
    border: 1px solid transparent;
    background: $dark_blue;
    transition: 0.2s linear all;

    &:hover {
      background: darken($dark_blue,5%);
    }

    &:active {
      border-color: $dark_blue;
      background: darken($dark_blue,15%);
    }

    &[disabled] {
      cursor: default;
      border-color: transparent;
      background: $light_blue;
    }
  }
}

.mydp {
  & > .selectiongroup {

    & > .selection {
      color: $dark_blue;

      &::placeholder {
        color: $thin_grey;
      }
    }
  }
}

.blurred {
  filter: blur(5px);
}
